@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --login-bg: #f8f3ff;
    --title-bg: #9089cc;
    --button-bg: #674baf;
    --light-pink: #e882e8;
    --image-bg: #eadbff;
}

body {
    background-image: url(img/backgroundcolegio.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 50px;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 6;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #fff;
}

.nav-main ul .nav-menu {
    flex: 1;
    margin-left: 20px;
}

.showcase p {
    color: #ffffff;
}

hr {
    margin: 10px 0;
}

.showcase {
    width: 100%;
    height: 550px;
    background: url(img/showcase2.jpg)no-repeat center/cover;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}

.btn {
    margin: 10px 0;
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #fff;
}

.btn:hover {
    opacity: .7;
}

.showcase h2 .showcase p {
    margin-bottom: 10px;
}

.news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.news-cards img {
    width: 100%;
    height: 180px;
}

.news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #f2f2f2;
}

.news-cards p {
    color: #f2f2f2;
}

.news-cards a {
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover {
    text-decoration: underline;
}

.cards-banner-one {
    width: 100%;
    height: 350px;
    background: url(img/cards-banner-inscribirse.jpeg);
    /*no-repeat center center/cover*/
    background-size: cover;
    margin-bottom: 40px;
}

.cards-banner-one .content {
    width: 60%;
    padding: 25px 0 0 50px;
    color: black;
}

.cards-banner-one p,
.cards-banner-one h2 {
    margin: 10px 0 20px 0;
}

.cards-banner-two {
    width: 100%;
    height: 160px;
    background: url(img/cards-banner-two.jpeg);
}

.cards-banner-two .content {
    width: 50%;
    padding: 15px 0 0 50px;
}

.social {
    margin: 30px 45px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 1.8rem;
}

.links a i:hover {
    border-radius: 7px;
    border: 4px solid #fff;
    background: #fff;
    color: black;
    width: 100%;
    cursor: pointer;
}

.social h3 {
    margin: 10px 33px;
    color: #fff;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .news-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* .social {
    margin: 50px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 1.8rem;
}

.footer-links {
    background: #2f3640;
    color: #616161;
    font: 12px;
    padding: 35px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.footer-container ul {
    margin: 0 auto;
    text-align: center;
}

.footer {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
} */